<% layout("/layouts/boilerplate") -%>
<body>
    <h3>All Listings</h3>
    <!-- <form method="GET" action="/listings/new">
        <button>CREATE NEW Listings</button>
    </form> -->

    <div class="row row-cols-sm-1 row-cols-md-3">
        <% for(let listing of allListings){ %>
            <div class="col">
                <a href="/listings/<%= listing._id%>" class="listing-link">
                <div class="card col" style="width: 20rem;">
                    <img 
                        src="<%= (listing.image && listing.image.url) ? listing.image.url : 'https://via.placeholder.com/800' %>" 
                        class="card-img-top" 
                        alt="listing_image" 
                        style="height:20rem;"/>
                        <div class="card-img-overlay"></div>
                    <div class="card-body">
                        <p class="card-text">
                            <%= listing.title %><br>
                            &#8377; <%= listing.price.toLocaleString("en-IN") %> / night
                        </p>
                    </div>
                </div>
            </a>
            </div>
        <%}%>
    </div>
    
</body>
