<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wanderlust</title>
</head>
<body>
    <h3>Create a new listings</h3>
    <form method="POST" action="/listings">
        <input name="listing[title]" placeholder="enter title" type="text">
        <br><br><br><br><br>
        <textarea name="listing[description]" placeholder="enter description here"></textarea>
        <br><br><br><br><br>
        <input name="listing[image]" placeholder="enter image url" type="text">
        <br><br><br><br><br>
        <input name="listing[price]" placeholder="enter your price" type="number">
        <br><br><br><br><br>
        <input name="listing[location]" placeholder="enter your location" type="text">
        <br><br><br><br><br>
        <input name="listing[country]" placeholder="enter your country" type="text">
        <br><br><br><br><br>
        <button>ADD</button>
    </form>
</body>
</html>